# cli event bus
.cli-events.json
code/.cli-events.json

# dependencies
code/node_modules

# next.js
code/.next/
code/out/

# production
code/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
code/.env*

# typescript
code/*.tsbuildinfo
code/next-env.d.ts

# database
code/prisma/dev.db
code/prisma/dev.db-journal
